h1{
	font-size: 60px;
	color:  red;
	text-align: center;

}

form{
	text-align: center;
}

input{ 
	padding:  20px;
	color:  green;
	background: orange;

 }

 .result{
 	color: pink;
 	text-align: center;
 	font-family: calibri;
 }

